html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #00539F;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

.btn-change-user {
	padding: 10px;
	background-color: #00539F;
	color: #FF9500;
	border: 1px solid black;
	border-radius: 6px;
	cursor: pointer;
}

.btn-change-user:hover {
	background-color: gold;
	color: black;
}
