@charset "utf-8";

:root {

  --color-body: #00539F;
  --color-main: #FF9500;

}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-body);
}

.main {
  width: 600px;
  padding: 30px;
  background-color: var(--color-main);
}


.mozilla_message {

  h1 {
    margin: 0px auto 10px auto;
    font-size: 40px;
    text-align: center;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }

}


img {
  cursor: pointer;
  padding: 10px;
  display: block;
  margin: 0px auto;
}

.list {
  padding-top: 10px;
  margin-top: 15px;

  p {
    text-align: center;
  }

  ul {
    padding: 25px;

    li {
      margin-top: 5px;
    }
  }
}

.texts {
  padding: 10px;
}

.sec_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;

  button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: var(--color-body);
    border-radius: 6px;
    &:hover {
      background-color: var(--color-main);
      border: 1px solid var(--color-body);
      color: white;
      transition: background-color 0.3s ease;
    }

  }

}
